<div id="<%= dom_id post %>">
  <p>
  <%= post.cat.name %> > <%=post.title%>
  <hr>
  </p>
  <h3>
    <%= post.title %>
  </h3>
  <p>
    par
    <%= post.user.username %>
  </p>

  <p>
    <%= post.content %>
  </p>





</div>
